.admin-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    color: white;
}

.admin-card {
    background: #1f1f1f;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.admin-card h2 {
    margin-bottom: 15px;
}

.admin-card label {
    display: block;
    margin-bottom: 8px;
}

.admin-card select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.save-btn {
    background: #fcd700;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.save-btn:hover {
    background: darkred;
}

.message {
    margin-top: 15px;
    font-weight: bold;
}


.back-btn {
    margin-bottom: 20px;
    padding: 8px 14px;
    background: #fcd700;
    border: 1px solid #ccc;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}

    .back-btn:hover {
        background: red;
    }